<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/custom.css' | relative_url }}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/fontawesome-all.min.css' | relative_url }}"
    />
  </head>
  <body>
    <header class="site-header">
      <div class="header-content">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}" class="site-title-link"
            >{{ site.title }}</a
          >
        </h1>
        <div class="site-description">{{ site.description }}</div>
      </div>
    </header>
    <main>
      <section id="header">
        <div class="inner">
          <h1>{{ page.title }}</h1>
        </div>
      </section>
      <section id="one" class="main style1">
        <div class="container">
            {{ content }}
        </div>
    </main>

    <footer>
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
    </footer>
  </body>
</html>
